<style>@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); </style>
@font-face {
    font-family: asf;
    src: url(/Fonts/Helvetica.ttf);
}

@font-face {
    font-family: HelBold;
    src: url(/Fonts/Helvetica-Bold.ttf);
}

@font-face {
    font-family: HelLight;
    src: url(/Fonts/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
    font-family: HelvReg;
    src: url(/Fonts/Helvetica.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:antiquewhite;
}
.abajo{
    width: 250px;
    background-color: #575757;
    padding: 10px 30px;
    color: white;
    font-size: 1.7rem;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
}
header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #454646;
}
img{
    width: 30%;
    display: block;
    margin: auto;
}
.info {
    margin: 40px;
    width: 95%;
}
h1 {
    font-family: HelBold;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 28px;
    font-style: normal;
    
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: HelvReg;
    color: #ffffff;
    margin: 100px;
}
footer > a{
    width: 100px;
    background-color: #575757;
    padding: 10px 20px;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline;
    margin: auto;
    text-align: center center;
    line-height: 50px;
    color: rgb(124, 180, 180);
    font-family: HelvReg;
}
p{
    color: #ffffff;
}