* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
}
@font-face {
    font-family: 'Monserrat';
    src: url(../Fonts/static/Montserrat-Regular.ttf);
}
footer {
    margin-top: auto;
    background-color: #1c1c1e;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 47%;
    padding-left: 8%;
}

footer a {
    text-decoration: none;
    color:#6bd197;
    font-size: 20px;
    font-family: 'Monserrat';
}
.ejercicio1 {
    background: darkslateblue;
    height: 100%;
    padding: 30px;
}

.ejercicio1 .card1 {
    width: 410px;
    background: white;
    border-radius: 30px;
    margin: 0 auto;
    padding: 40px;
}

.ejercicio1 .card1 img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.ejercicio1 .card1 .datos_carga {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.ejercicio1 .card1 .datos_carga h1 {
    font-size: 64px;
    color: blueviolet;
}

.ejercicio1 .card1 .datos_carga p {
    font-size: 18px;
    color: rgb(90, 90, 90);
    font-weight: lighter;
}

.ejercicio1 .card1 .lista_archivos {
    margin-bottom: 40px;
    gap: 40px;
}

.ejercicio1 .card1 .lista_archivos li {
    list-style-type: none;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;

}

.ejercicio1 .card1 button {
    display: block;
    background-color: #7327E4;
    margin: 0 auto;
    ;
    width: 154px;
    height: 53px;
    font-size: 24px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 10px 30px 10px 30px;
}

.ejercicio2 {
    background: #bbbbbb;
    height: 100%;
    padding: 30px;
}

.ejercicio2 .card2 {
    width: 613px;
    height: 1079px;
    background: white;
    border-radius: 30px;
    margin: 0px auto;
    padding: 150px 74px 0 74px;
}

.ejercicio2 .card2 img {
    display: block;
    margin: 0 auto;
    width: 330;
    height: 319;
    border-radius: 100%;
}

.ejercicio2 .card2 .datos_nombre {
    width: 445px;
    height: 341px;
    padding: 48px 0 150px 0;
    text-align: center;
}

.ejercicio2 .card2 .datos_nombre h1 {
    width: 100%;
    height: 60px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px;
}

.ejercicio2 .card2 .datos_nombre p {
    height: 75px;
    text-align: center;
    font-size: 21px;
}

.ejercicio2 .card2>button {
    padding: 24px 100px 24px 100px;
    border-radius: 46px;
    border: 0;
    background-color: #F2B14A;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    color: white;
}

.card2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card2 ul li {
    margin-right: 10px;
}

.card2 ul li button {
    display: block;
    width: 10px;
    height: 10px;
    background: darkgrey;
    border: 0;
    border-radius: 50%;
    text-indent: -9999px;
}

.card2 ul li .activo {
    background: gray;

}

.contenedorcard3 {
    width: 409px;
    height: 470px;
    margin: 0 auto;
    display: block;
}

.ejercicio3 {
    background-color: rgba(189, 50, 204, 0.852);
    height: 100%;
    padding: 30px;
}

.ejercicio3 .card3 {
    margin: 0 auto;
    display: block;
    text-align: center;
    gap: 10;
    width: 409px;
    background-color: white;
    padding: 35px 48px 0px 48px;

}

.ejercicio3 .card3 img {
    display: block;
    margin: 0 auto;
    width: 215px;
    height: 215px;
}

.ejercicio3 .card3 .text {
    padding: 10px 0 27px 0;
    width: 313px;
    height: 153px;

}

.ejercicio3 .card3 .text h1 {
    font-size: 24px;
    font-weight: bold;
    gap: 3px;
}

.ejercicio3 .card3 .text p {
    font-size: 17px;
}

.ejercicio3 .contenedorcard3 button {
    border: 0;
    display: block;
    background-color: rebeccapurple;
    width: 100%;
    height: 47px;
    color: white;
}

.ejercicio4 {
    background-color: rgba(50, 204, 76, 0.852);
    height: 100%;
    padding: 30px;
}

.ejercicio4 .card4 {
    display: flex;
    width: 845px;
    height: auto;
    padding: 11px 18px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 15px solid #000;
}

.ejercicio4 .card4 .header {
    display: flex;
    padding-bottom: 164px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.ejercicio4 .card4 .header p {
    width: 28px;
    height: 11px;
    font-size: 9px;
    font-weight: 400;
    color: #000;
}

.ejercicio4 .card4 .header h2 {
    width: 171px;
    font-size: 8px;
    font-weight: 400;
    color: #000;
}

.ejercicio4 .card4 .contenido_card4 {
    width: 776px;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.ejercicio4 .card4 .contenido_card4 .textcard4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.ejercicio4 .card4 .contenido_card4 .textcard4 p {
    font-size: 7px;
    font-weight: 400;
    color: #000;
}

.ejercicio4 .card4 .contenido_card4 .imagecard4 {
    display: flex;
    height: 266px;
    justify-content: center;
    align-items: center;
    gap: -9px;
    align-self: stretch;
}

.ejercicio4 .card4 .contenido_card4 .imagecard4 img {
    height: 260px;
    width: 261px;
}

.ejercicio4 .card4 .contenido_card4 .imagecard4 h1 {
    color: #000;
    font-family: "Bebas Neue", sans-serif;
    font-size: 370px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -16px;
    padding-top: 40px;
    padding-right: 10px;
}

.ejercicio5 {
    background-color: rgba(204, 201, 50, 0.852);
    height: 100%;
    padding: 30px;
}

.ejercicio5 .card5 {
    width: 581px;
    height: auto;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
}

.ejercicio5 header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 50px;
}
.ejercicio5 header button{
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #000;
    background: none;
    font-weight: bold;
    padding: 10px;
}
.ejercicio5 header .perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ejercicio5 header .perfil h2{
    font-size: 15px;
    padding-right: 10px;
    font-weight: lighter;
}
.ejercicio5 .contenido_card5{
    padding: 20px 0;
}
.ejercicio5 .contenido_card5 h1 {
    font-size: 45px;
    padding-bottom: 15px;
}
.ejercicio5 .contenido_card5 h2 {
    font-size: 18px;
    padding-bottom: 100px;
    font-weight: lighter;
}
.ejercicio5 .contenido_card5 h3 {
    font-size: 32px;
    padding-bottom: 20px;
}
.board{
    display: flex;
    text-align: center;
    padding-bottom: 60px;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 20px;
}
.board img{
    height: 240px;
}
.board h2{
    font-weight: lighter;
}
.newboard{
    margin-right: 100px;
}
.inferior{
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: lighter;
}
.inferior img{
    height: 240px;
}
.inferior h2{
    font-weight: lighter;
}
.smoot{
    margin-right: 110px;
}